     body { 
      text-align: center; 
      font-family: "Times New Roman", sans-serif; 
      background-color: AntiqueWhite; /* Add AntiqueWhite background color */
      color: MidnightBlue;
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none;
      trabsform: scale(1);
      background:#dfdfdf;
       
     
    } 
     
     h1, h2, h3 { 
        font-weight: bold; 
        text-shadow:
    1px 1px #e3061f,
    2px 2px #e3061f,
    3px 3px #ffed00,
    4px 4px #ffed00,
    5px 5px #009fe3,
    6px 6px #009fe3;
    }    
     
     .fixed-button {
     position: fixed;
     right: 20px;
     } 



/* Add any necessary CSS styles for your kathismas */
       
.kathisma-tolk{
     display: none;
}

.kathisma{
    display: none;
}



