     body { 
      text-align: center; 
      font-family: "Times New Roman", sans-serif; 
      background-color: AntiqueWhite; /* Add AntiqueWhite background color */
      color: MidnightBlue;
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none;
      trabsform: scale(1);
     
    } 
     
     h1, h2, h3 { font-weight: bold; }    
     
     .fixed-button {
    position: fixed;
    right: 20px;
    }



/* Add any necessary CSS styles for your kathismas */
       
.kathisma-tolk{
     display: none;
}

.kathisma{
    display: none;
}
